.header-admin{
    height: 60px;
    background-color: blue;

}

.aside-bar{
    width: 200px;
    height: calc(100vh - 60px);
    background-color: rgb(125, 125, 207);

    ul{
        padding-left: 10px;

        li{
            list-style: none;
            margin-bottom: 20px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }




}

.table{

    input{
        border: none;
    }
}

.projects{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: yellow;
    overflow-y: scroll;
}

.table-projects{
    width: 60%;
}
